.bgBtnsWrapper {
    margin: 70px 0;
}

.bgBtnsLabel {
    margin-bottom: 16px;
    font-size: 14px;
    color: #7D7D7D;
}

.bgBtnsFlex {
    display: flex;
}

.bgBtnsFlex > label:not(:last-child) {
    margin-right: 26px;
}

.bgBtn {
    display: block;
    width: 65px;
    height: 65px;
    border: thin solid #D2D2D2;
    border-radius: 10px;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.bgBtn > input {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.bgBtn:hover {
    transform: scale(1.15);
}