.btnPrimary {
    width: 100%;
    padding: 12px 27px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    border: thin solid #D2D2D2;
    border-radius: 50px;
    background-color: #04D2FC;
    cursor: pointer;
}

.btnPrimary:hover {
    background-color:  #02c5ec;
}