.track {
    position: relative;
    width: 40px;
    height: 14px;
    border-radius: 50px;
    background-color: #D2D2D2;
}

.switch {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(180, 180, 180);
    cursor: pointer;
    transition: left .3s ease-in;
}

.on {
    left: 100%;
    box-shadow: 1px 1px 3px #9dc6ce;
    background-color: #04D2FC;
}

.trackon {
    background-color: #daf2f7;
}

.checkboxInputDef {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;    
}

.darkModeInputWrapper {
    display: flex;
    align-items: center;
    align-content: center;
}

.checkboxLabel {
    margin-right: 32px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(116, 116, 116);
}