.formWrapper {
    padding: 22px 35px;
    border-radius: 10px;
    border: thin solid #eeeeee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.06), 
                0 2px 4px rgba(0,0,0,0.06), 
                0 4px 8px rgba(0,0,0,0.06), 
                0 8px 16px rgba(0,0,0,0.06),
                0 16px 32px rgba(0,0,0,0.06);
}

.col_2, .col_3 {
    display: flex;
    align-items: flex-start;
}

.col_2 > :first-child {
    padding-right: 12px;
}

.col_2 > div, .col_3 > div {
    flex: 1;
}

.col_3 > :not(:last-child) {
    padding-right: 12px;
}

.heading {
    margin-bottom: 18px;
    font-size: 26px;
    color: #2D2D2D;
}