.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 90px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #04D2FC;
}